/* Media Query Variables */
$maxMobile: 767px;
$minSmall: 768opx;
$maxSmall: 991px;


/* Create Main Color In Wepsite */
$firstColor: #7352ff;
$secondColor: #32325d;
$paragraphColor: #525f7f;
$orangeColor: #f7600e;

/* For Media Query */
$maxMobile: (max-width: 767px);
$minSamll: (min-width: 768px);
$maxSmall: (max-width: 991px);
$minMedium: (min-width: 992px);
$maxMedium: (max-width: 1199px);