/* Start Section Advices For Learning */
.advices-learning {
    position: relative;
    @media #{$maxMobile} {
        text-align: center;
        position: relative;
        z-index: 9999;
    }

    .info-section-advice {
        padding-top: 60px;
        h2{
            font-size: 37px;
            font-weight: bold;
            margin: 10px 0 25px;
            color: $secondColor;
            @include letterSpacing();
            span{color: $firstColor}
        }
        p {
            margin: 0 0 35px 0;
            color: $paragraphColor;
            font-size: 19px;
            @include lineHeight();
            
        }
    }

    .box {
        overflow: hidden; 
        padding: 0 0 65px 0;
        .img-container {
            @media #{$maxMobile} {
                width: 60% !important;
                margin: auto;
                float: none
            }
            @media #{$minSamll}  and #{$maxSmall} {
                width: 60% !important;
                margin: auto;
                float: none
            }
        }
    }


    .div-img {
        @media #{$maxMobile} {
            margin-bottom: 20px;
        }
        @media #{$minSamll}  and #{$maxSmall} {
            margin-bottom: 20px;
        }
        h3{
            margin-top: 78px;
            color: $firstColor;
            @include letterSpacing();
            @media #{$maxMobile} {
                margin-top: 0
            }
            @media #{$minSamll}  and #{$maxSmall} {
                margin-top: 0
            }
            span {color: $secondColor}
        }
        p {
            font-size: 19px;
            margin: 0 0 33px;
            color: $paragraphColor;
            @include lineHeight();
        }
        a {
            @include transition3s();
        }
    }
}
/* End Section Advices For Learning */

/* Start Collection Box */
.collection {
    padding: 65px 0 60px 0;
    @media #{$maxMobile} {
        padding-top: 0;
    }
    .collection-box {
        margin-bottom: 20px; 
        overflow: hidden;
        @media #{$maxMobile} {
            text-align: center;
            margin-bottom: 50px
        }
        @media #{$minSamll}  and #{$maxSmall} {
            margin-bottom: 0
        }

        .collection-box-img {
            width: 100px;
            margin-top: 15px;

            @media #{$maxMobile} {
                float: none; 
                margin: auto;
            }
        }
        .collection-box-info.not-left {
            text-align: right; 
            margin: 0 20px 0 0;
        }

        .collection-box-info {
            margin-left: 20px; 
            width: 78%;
            @media #{$maxMobile} {
                float: none;
                margin: auto !important;
                text-align: center  !important;
            }
            h3 {
                font-size: 25px; 
                color: $firstColor;
                @include letterSpacing();
                span {color: $secondColor}
            }

            P {
                color: $paragraphColor; 
                font-size: 17px;
                @include lineHeight();
                @media #{$maxMobile} {
                    width: 100%
                }
            }
        }
    }
}
/* End Collection Box */

/* Start Section Subscripe */
.subscripe {
    background: url("../img/book/book.jpg") no-repeat;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    position: relative;
    @media #{$maxMobile} {
        padding: 30px 0
    }
    .overlay {
        @include overlay;
        background-color: rgba(50, 50, 93, .8);
        z-index: 1; 
    }

    .subscrip-content {
        z-index: 2;
        position: relative;
        padding: 60px 0;
        h2 {
            font-size: 37px; 
            margin-top: 0;
            @include letterSpacing();
            span {color: $orangeColor}
        }

        p {
            font-size: 19px; 
            color: $orangeColor;
            @include letterSpacing();
        }
    }

    button {
        margin-left: 5px;
        @include transition3s();
    }
    .btn-danger:focus {outline: none}

    form {
        margin: 55px 0 0 0;

        input[type="email"] {
            display: inline-block;
            width: 50%;
            padding: 19px 15px;

            @media #{$maxMobile} {
                width: 100%;
                display: block;
                margin-bottom: 20px;
            }
        }
    }
}
/* End Section Subscripe */

/* Start what you will get */
.what-will-get {
    overflow: hidden;
    padding: 60px 0;
    .about-what-will-get {
        padding: 0 0 40px 0;
        h2 {
            font-size: 26px; 
            color: $firstColor;
            @include letterSpacing();
            @media #{$maxMobile} {
                font-size: 16px !important;
            }
            span {color: $secondColor}
        }
        p {
            margin-bottom: 0;
            font-size: 20px; 
            color: $paragraphColor;
            @include letterSpacing();
        }
    }

    .box {
        overflow: hidden; 
        margin-top: 30px;
        .img {width: 100px; margin: auto}
        p {
            color: $paragraphColor; 
            font-size: 16px;
            @include lineHeight();
        }
        h3 {
            font-size: 25px; 
            margin: 15px 0 20px; 
            color: $secondColor;
            @include letterSpacing();
        }
    }
}
/* End what you will get */


/* Start Contact Us */
.contact-us {
    background: url(../img/contact/contact.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: 20px;;
    position: relative;
    padding: 65px 0 60px 0;
    @media #{$maxMobile} {
        padding: 30px 0 30px 0;
    }
    .overlay {
        @include overlay;
        background: rgba(59, 67, 76, .9);
        padding: 60px 0;
        z-index: 1;
    }
    .info-contact {
        padding: 30px 0; 
        color: #fff;
        position: relative;
        z-index: 2;

        h3 {
            font-size: 32px; 
            margin: 0 0 20px;
            @include letterSpacing();
            span {color: $orangeColor}
        }
        p {
            @include letterSpacing();
            font-size: 18px;
            @include lineHeight();
            margin-bottom: 0;
            @media #{$maxMobile} {
                color: #fff
            }
        }
    }

    form {
        position: relative;
        z-index: 2;
        width: 70%; 
        margin: auto; 
        padding: 1% 1%;
        overflow: hidden;
        @media #{$maxMobile} {
            width: 95%
        }

        .form-group {overflow: hidden}

        input[type="text"], 
        input[type="email"] {
            float: left;
            width: 49%;
            border-radius: 7px;
            padding: 20px 10px;

            @media #{$maxMobile} {
                width: 100%; 
                margin-bottom: 20px
            }
        }

        input[type="text"] {margin-right: 2%}
        input[type="email"] {
            @media #{$maxMobile} {
                margin-bottom: 5px;

            }
        }

        textarea {
            margin-top: 10px;
            border-radius: 7px;
            padding: 10px 10px;
            height: 150px;
            @media #{$maxMobile} {
                margin-top: 0; 
                height: 200px
            }
        }

        a.btn {
            display: inline-block;
            font-size: 16px;
            margin: 2px 5px 0 0;
            @include transition3s();
            @include letterSpacing();
            @include lineHeight();
        }

        .social-icons {
            float: right;
            i{
                font-size: 28px;
                margin: 15px 0 0 10px;
                cursor: pointer
            }
            .fa-facebook-square {color: #3b5998}
            .fa-twitter-square{color: #55acee}
            .fa-google-plus-square{color: #dc4e41}
        }
    }
}